<!DOCTYPE html>
<html lang="en-US">
<style media="screen">
  body {background-color: mediumaquamarine}
  h1 {font-size: 48px; color: darkblue; font-family: verdana; text-align: center;}
  p {color: darkmagenta; font-size: 120%;}
  .center {display: block; margin-left: auto; margin-right: auto}
</style>
<body>
  <h1>About Pirate Santa. What???</h1>
<%= image_tag 'santa.jpg' %>
<blockquote cite="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/learn/v4/overview" title="Mashrur's class blurb">
  Need more reasons on "why Ruby on Rails?" Since its introduction, Ruby on Rails has rapidly become one of the most popular and powerful web application development tools for both startups and existing software companies. Some of the top sites in the world started with Ruby on Rails such as Basecamp, Twitter, Shopify, Github, LivingSocial, Groupon, Hulu, Airbnb, Yellow Pages and many more! Even after immense scaling, most of them continue to use Rails! Ruby on Rails developers routinely command the highest salaries in the tech industry!
</blockquote>
<p>NOW THAT'S A LOT OF BOOTY! YAAARRRRGH!</p>

<%= link_to "Back to Santa's home on the high seas", root_path %>
