$navbar-default-bg: #CCCC99;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #412c2c;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #dcdcdc;
  text-decoration: none;
}

#navlink {
  color: #fff;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('attack.jpg');
  background-position: center;
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  color: black;
  text-align: center;
  letter-spacing: -1px;
  font-weight: bold;
}

  .jumbotron p {
    color: #AF0606;
    text-align: center;
    font-size: 220%;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .btn-xlg {
    margin-top: 40px;
    background-color: #81a17f;
    border-width: thin;
    border-color: #FFCC00;
    color: #FFCC00;
  }

  .btn-xlg:hover {
    font-size: 1.7em;
    color: #81a17f;
    background-color: #FFCC00;
  }

  .article-meta-details {
    border-top: 1px solid #CCCC99;
    margin-top: 15px;
  }

  .article-actions {
    border-top: 1px solid #CCCC99;
    padding-top: 5px;
  }

  .description {
    margin-top: 0;
  }

  .article-title {
    font-weight: bold;
    font-size: 1.5em;
  }

  .article-body {
    border-top: 2px solid #CCCC99;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .listing {
    list-style: none;
    padding-left: 0

  }

  .badge {
    background-color: #CCCC99;
    text-transform: uppercase;
    font-weight: bold;
  }

  .input_checkbox input {
    width: auto !important;
  }


  footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 2px solid #CCCC99;
    color: #AF0606;
  }

  footer small {
    float: left;
  }

  footer ul {
    float: right;
    list-style: none;
  }

  footer li {
    display: inline-block;
    margin: 5px;
  }

  footer a {
    color: #330000;
  }

  footer a:hover {
    color: #663300;
  }
